:host {
  display: block;
  height: 100%;
}

.projectCard {
  border-radius: 14px;
  overflow: hidden;

  :host ::ng-deep &.p-card {
    height: 100%;
    display: flex;
    flex-direction: column;

    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0 10px 26px rgba(0, 0, 0, 0.06);
    transition: transform 180ms ease, box-shadow 180ms ease;
  }

  :host ::ng-deep &.p-card {
    height: 100%;
    display: flex;
    flex-direction: column;

    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0 10px 26px rgba(0, 0, 0, 0.06);

    transition:
      transform 200ms ease,
      box-shadow 200ms ease,
      border-color 200ms ease;
  }

  :host ::ng-deep &.p-card:hover {
    transform: translateY(-4px);

    border-color: #8f6af0;

    box-shadow:
      0 0 0 1px rgba(143, 106, 240, 0.25),
      0 18px 38px rgba(0, 0, 0, 0.12);
  }

  :host ::ng-deep .p-card-body {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  :host ::ng-deep .projectCard.p-card:hover .projectCard__title {
    color: #7d53e9;
  }
}

.projectCard__media {
  aspect-ratio: 16 / 9;
  background: #f3f4f8;
  overflow: hidden;
}

.projectCard__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.projectCard__body {
  padding: 16px 16px 18px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.projectCard__tag {
  margin-bottom: 10px;

  :host ::ng-deep .p-tag {
    background: rgba(125, 83, 233, 0.08);
    border: none;
    color: #6a45e0;

    border-radius: 999px;
    padding: 4px 12px;

    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.03em;

    box-shadow: none;
  }
}

.projectCard__title {
  margin: 12px 0 8px;
  font-size: 22px;
  letter-spacing: -0.01em;
  color: #121212;
}

.projectCard__desc {
  margin: 0;
  color: rgba(0, 0, 0, 0.62);
  line-height: 1.55;
  font-size: 14.5px;
}

.projectCard__tech {
  margin-top: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height:56px;
  overflow: hidden;

  :host ::ng-deep .p-chip {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 999px;
    font-weight: 600;
  }
}

.projectCard__actions {
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  padding-top: 16px;
}

.projectCard__btn {
  :host ::ng-deep &.p-button {
    background: #7d53e9;
    border-color: #7d53e9;
    color: #ffffff;

    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 800;

    box-shadow: 0 10px 26px rgba(125, 83, 233, 0.18);
    transition: transform 220ms ease, background 220ms ease, box-shadow 220ms ease;
  }

  :host ::ng-deep &.p-button .p-button-label,
  :host ::ng-deep &.p-button .p-button-icon {
    color: #ffffff;
  }

  :host ::ng-deep &.p-button:hover {
    background: #8f6af0;
    border-color: #8f6af0;
    transform: translateY(-2px) scale(1.04);
    box-shadow: 0 14px 30px rgba(125, 83, 233, 0.28);
  }
}
